<div id="1">
  <!-- <app-navbar>
    <a class="bg-red-50 text-red-500 px-2 py-1 rounded" routerLink="/login"
      >Login</a
    >
  </app-navbar> -->
  <!-- Home Component -->

  <div class="antialiased max-w-6xl mx-auto my-12 bg-gray-300 px-8">
    <div class="relative block md:flex items-center">
      <div
        class="w-full md:w-1/2 relative z-1 bg-gray-100 rounded shadow-lg overflow-hidden"
      >
        <div
          class="text-lg font-medium text-green-500 uppercase p-8 text-center border-b border-gray-200 tracking-wide"
        >
          Pay as you go
        </div>
        <div class="block sm:flex md:block lg:flex items-center justify-center">
          <div class="mt-8 sm:m-8 md:m-0 md:mt-8 lg:m-8 text-center">
            <div class="inline-flex items-center">
              <span class="text-3xl font-medium">1.4%</span>
              <span class="text-xl text-gray-600 ml-2">+</span>
              <span class="text-xl ml-2">20p</span>
            </div>
            <span class="block text-sm text-gray-600 mt-2"
              >for European cards</span
            >
          </div>
          <div
            class="mt-4 mb-8 sm:m-8 md:m-0 md:mt-4 md:mb-8 lg:m-8 text-center"
          >
            <div class="inline-flex items-center">
              <span class="text-3xl font-medium">2.9%</span>
              <span class="text-xl text-gray-600 ml-2">+</span>
              <span class="text-xl ml-2">20p</span>
            </div>
            <span class="block text-sm text-gray-600 mt-2"
              >for non-European cards</span
            >
          </div>
        </div>
        <div class="flex justify-center mt-3">
          <ul>
            <li class="flex items-center">
              <div
                class="bg-green-200 rounded-full p-2 fill-current text-green-700"
              >
                <svg
                  class="w-4 h-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="icon-umbrella"
                >
                  <path
                    class="primary"
                    d="M11 3.05V2a1 1 0 0 1 2 0v1.05A10 10 0 0 1 22 13c0 1.33-2 1.33-2 0a2 2 0 1 0-4 0c0 1.33-2 1.33-2 0a2 2 0 1 0-4 0c0 1.33-2 1.33-2 0a2 2 0 1 0-4 0c0 1.33-2 1.33-2 0a10 10 0 0 1 9-9.95z"
                  />
                  <path
                    class="secondary"
                    d="M11 14a1 1 0 0 1 2 0v5a3 3 0 0 1-6 0 1 1 0 0 1 2 0 1 1 0 0 0 2 0v-5z"
                  />
                </svg>
              </div>
              <span class="text-gray-700 text-lg ml-3"
                >No setup, monthly, or hidden fees</span
              >
            </li>
            <li class="flex items-center mt-3">
              <div
                class="bg-green-200 rounded-full p-2 fill-current text-green-700"
              >
                <svg
                  class="w-4 h-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="icon-shopping-bag"
                >
                  <path
                    class="primary"
                    d="M5 8h14a1 1 0 0 1 1 .92l1 12A1 1 0 0 1 20 22H4a1 1 0 0 1-1-1.08l1-12A1 1 0 0 1 5 8z"
                  />
                  <path
                    class="secondary"
                    d="M9 10a1 1 0 0 1-2 0V7a5 5 0 1 1 10 0v3a1 1 0 0 1-2 0V7a3 3 0 0 0-6 0v3z"
                  />
                </svg>
              </div>
              <span class="text-gray-700 text-lg ml-3"
                >Pay only for what you use</span
              >
            </li>
            <li class="flex items-center mt-3">
              <div
                class="bg-green-200 rounded-full p-2 fill-current text-green-700"
              >
                <svg
                  class="w-4 h-4"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="icon-pie-chart"
                >
                  <path
                    class="primary"
                    d="M14 13h6.78a1 1 0 0 1 .97 1.22A10 10 0 1 1 9.78 2.25a1 1 0 0 1 1.22.97V10a3 3 0 0 0 3 3z"
                  />
                  <path
                    class="secondary"
                    d="M20.78 11H14a1 1 0 0 1-1-1V3.22a1 1 0 0 1 1.22-.97c3.74.85 6.68 3.79 7.53 7.53a1 1 0 0 1-.97 1.22z"
                  />
                </svg>
              </div>
              <span class="text-gray-700 text-lg ml-3"
                >Real-time fee reporting</span
              >
            </li>
          </ul>
        </div>
        <a
          class="block flex items-center justify-center bg-gray-200 hover:bg-gray-300 p-8 text-md font-semibold text-gray-800 uppercase mt-16"
          href="#"
        >
          <span>Create account</span>
          <span class="font-medium text-gray-700 ml-2">➔</span>
        </a>
      </div>
      <div class="w-full md:w-1/2 relative z-0 px-8 md:px-0 md:py-16">
        <div
          class="bg-blue-900 text-white rounded-b md:rounded-b-none md:rounded-r shadow-lg overflow-hidden"
        >
          <div
            class="text-lg font-medium uppercase p-8 text-center border-b border-blue-800 tracking-wide"
          >
            Enterprise
          </div>
          <div
            class="text-center text-sm sm:text-md max-w-sm mx-auto mt-8 text-blue-200 px-8 lg:px-0"
          >
            Stripe offers everything needed to run an online business at scale.
            Get in touch for details.
          </div>
          <div class="mt-8 border border-blue-800 mx-8 lg:mx-16 flex flex-wrap">
            <div
              class="flex items-center justify-center w-1/2 text-center p-4 border-r border-b border-blue-800"
            >
              Account management
            </div>
            <div
              class="flex items-center justify-center w-1/2 text-center p-4 border-b border-blue-800"
            >
              Volume discounts
            </div>
            <div
              class="flex items-center justify-center w-1/2 text-center p-4 border-r border-blue-800"
            >
              Migration assistance
            </div>
            <div class="flex items-center justify-center w-1/2 text-center p-4">
              Dedicated support
            </div>
          </div>
          <a
            class="block flex items-center justify-center bg-blue-800 hover:bg-blue-700 p-8 text-md font-semibold text-gray-300 uppercase mt-8"
            href="#"
          >
            <span>Contact sales</span>
            <span class="font-medium text-gray-300 ml-2">➔</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          From the blog
        </h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">
          Learn how to grow your business with our expert advice.
        </p>
      </div>
      <div
        class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
        <article class="flex max-w-xl flex-col items-start justify-between">
          <div class="flex items-center gap-x-4 text-xs">
            <time datetime="2020-03-16" class="text-gray-500"
              >Mar 16, 2020</time
            >
            <a
              href="#"
              class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
              >Marketing</a
            >
          </div>
          <div class="group relative">
            <h3
              class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
            >
              <a href="#">
                <span class="absolute inset-0"></span>
                Boost your conversion rate
              </a>
            </h3>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
              Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam
              vitae illo. Non aliquid explicabo necessitatibus unde. Sed
              exercitationem placeat consectetur nulla deserunt vel. Iusto
              corrupti dicta.
            </p>
          </div>
          <div class="relative mt-8 flex items-center gap-x-4">
            <img
              src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
              alt=""
              class="h-10 w-10 rounded-full bg-gray-50"
            />
            <div class="text-sm leading-6">
              <p class="font-semibold text-gray-900">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  Michael Foster
                </a>
              </p>
              <p class="text-gray-600">Co-Founder / CTO</p>
            </div>
          </div>
        </article>

        <!-- More posts... -->
      </div>
    </div>
  </div>
  <br />
  <br />
</div>
